<div id="page-content">
<div class="container" id="home-container">
  <div class="jumbotron text-left text-white">
<div id="title">
    <h1>MECHBLOG</h1>
</div>
<div class="text-white text-sm-left"
<p>keyboard</p>
<p class="font-italic text-sm-left.">.porn</p>
    <%= link_to 'Welcome', articles_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>
</div>
