<div id="page-content">
<div class="container-full-bg" id="home-container">
  <div class="jumbotron text-left text-white">
<div id="title">
<br><br>
</div>
<div class="text-white text-sm-left d-none d-lg-block">
<p>keyboard</p>
<p class="font-italic text-sm-left">.porn</p>

    </div>
  </div>
</div>
</div>
