<footer id="sticky-footer" class="py-4 text-success">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Thockers", "heroku.com", class: "text-white" %></small>
  </div>
</footer>
